*{
    margin: 0;
    padding: 0;
}
section.wrapper{
    width: 500px;
    height: 300px;
    border: 5px solid black;
    margin: 50px auto;
    perspective: 800px;
    position: relative;
}
section.wrapper>section.show{
    width: inherit;
    height: inherit;
    position: absolute;
}
section.wrapper>section.show>img{
    width: inherit;
    height: inherit;
}
section.wrapper>section.image{
    width: inherit;
    height: inherit;
    position: absolute;
}

section.wrapper>section.image>img{
    width: inherit;
    height: inherit;
    transition: all 300ms linear;
}
section.wrapper:hover>section.image>img{
    transform: rotate3d(1,1,1,45deg);
    /*transform: scale3d(1.5,1.5,1.5);
    transform: translate3d(100px, 100px, 100px);*/
}

section.first{
    width: 250px;
    height: 150px;
    background-color: brown;
    line-height: 150px;
    text-align: center;
    margin: 50px auto;
    perspective: 800px;
}
section.first>h1{
    color: whitesmoke;
    transition: all 300ms linear;
}
section.first:hover>h1{
    transform: rotate3d(1,1,1,45deg);
}
